.line{
    height:6px;
    width:70px;
    background-color:chocolate;
    margin: 8px auto;
}

body{
    text-align:center;
}


img{
   transition:transform .2s;  
}

img:hover{
    transform: scale(0.9);
}

body{
  background-color:#800080;
  color:black;
  text-align:center;